In [3]:
import pandas as pd
import numpy as np

In [7]:
import joblib

In [8]:
rf_model = joblib.load('rf_model.pkl')
scaler = joblib.load('scaler.pkl')

c:\Users\Shreeya Shreenivas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:348: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.6.1 when using version 1.3.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\Shreeya Shreenivas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:348: InconsistentVersionWarning: Trying to unpickle estimator RandomForestClassifier from version 1.6.1 when using version 1.3.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\Shreeya Shreenivas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:348: InconsistentVersionWarning: Trying to unpickle estimator StandardScaler from version 1.6.1 when using version 1.3.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [4]:
data = pd.read_csv('merged.csv')
data.head()

,Unnamed: 0.1,Dist Name,January,February,March,April,May,June,July,August,...,October,November,December,Unnamed: 0,STATE/UT,DISTRICT,avg kharif,avg rabi,summer avg,whole year avg
0,0,SRIKAKULAM,25.610000,27.005,29.580000,30.825,34.595000,33.925,30.165,32.475,...,30.615,27.710000,24.545,543,ANDHRA PRADESH,SRIKAKULAM,191.42,50.800000,63.100,97.100000
1,1,VISAKHAPATNAM,22.457269,24.835,28.220000,29.755,31.365000,31.305,27.140,29.435,...,27.155,23.630000,23.805,544,ANDHRA PRADESH,VISAKHAPATNAM,175.74,49.957143,72.875,93.391667
2,2,EAST GODAVARI,25.165000,26.470,31.115000,31.590,34.435000,32.900,30.965,30.055,...,29.760,28.155000,24.810,537,ANDHRA PRADESH,EAST GODAVARI,180.58,46.685714,60.325,92.166667
3,3,WEST GODAVARI,24.555000,28.815,27.472238,32.410,35.615000,33.970,32.440,31.830,...,29.640,28.010000,27.390,538,ANDHRA PRADESH,WEST GODAVARI,196.34,45.814286,54.825,96.700000
4,4,KRISHNA,23.733728,28.570,31.485000,33.180,36.561499,32.810,32.625,31.085,...,30.845,26.987848,26.320,540,ANDHRA PRADESH,KRISHNA,173.12,39.842857,48.325,85.591667

In [5]:
district = 'BULDHANA'
month = 'May'
season ='kharif'

temp = data[data['DISTRICT'] == district][['May']]
print(temp)

        May
126  36.895

In [6]:
rain = data[data['DISTRICT'] == district][['avg kharif']]
print(rain)

     avg kharif
126      139.86

In [12]:
sp = [5000, 40,50,60,2, 560, 25, 6.0]
sp = np.array(sp).reshape(1, -1)

sp = scaler.transform(sp)
prob = rf_model.predict_proba(sp)

top_n = 3
top_n_indices = np.argsort(prob[0])[-top_n:][::-1]
top_n_classes = [rf_model.classes_[i] for i in top_n_indices]
top_n_probs = prob[0][top_n_indices]
for i in range(top_n):
    print(f"Class: {top_n_classes[i]}, Probability: {top_n_probs[i]:.2f}")

Class: 34, Probability: 0.23
Class: 48, Probability: 0.16
Class: 14, Probability: 0.14

c:\Users\Shreeya Shreenivas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
c:\Users\Shreeya Shreenivas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [16]:
season = 'Whole Year'
season_index =  {
        'Kharif': 0,
        'Rabi': 1,
        'Summer': 2,
        'Whole Year': 3
        }
season_value = season_index.get(season, -1)
print(season_value)

3